body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(#0a0a0a, #000);
  font-family: sans-serif;
}

canvas {
  display: block;
}

/* Controls panel */
#controls {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 10px;
  color: white;
}

#controls label {
  display: block;
  font-size: 12px;
}